﻿body h1 {
    background-color: aqua;
}

body .top-bar {
    background-color: red;
}

    body .top-bar .main-bar {
        width: 80%;
        background-color: blueviolet;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
    }

        body .top-bar .main-bar .contact-left {
            flex-grow: 4;
            background-color: yellow;
            // display: flex;
            justify-content: center;
            gap: 12px;
        }

        body .top-bar .main-bar .login-right {
            flex-grow: 2;
            background-color: blue;
            // display: flex;
            justify-content: center;
        }

body .main-container {
    background-color: azure;
}

    body .main-container .banner-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }



body .main-control {
    background-color: aqua;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 5px;
}

body .main-conten {
    background-color: darkblue;
    display: flex;
    flex-wrap: nowrap;
}

    body .main-conten .conten-left {
        flex-grow: 4;
    }

        body .main-conten .conten-left .left {
        }

            body .main-conten .conten-left .left .cll-top {
            }

            body .main-conten .conten-left .left .cll-bot {
            }

        body .main-conten .conten-left .right {
        }



    body .main-conten .conten-right {
        flex-gro: 3;
    }
